In [5]:
import pypowsybl as pp 
import pandas as pd

In [6]:
n = pp.network.create_empty()
stations = pd.DataFrame.from_records(index='id', data=[
    {'id': 'S1', 'name': 'S1', 'TSO': 'RTE', 'country': 'FR'},
    {'id': 'S2', 'name': 'S2', 'TSO': 'Terna', 'country': 'IT'},
])
n.create_substations(stations)
n.get_substations()

   name    TSO geo_tags country
id
S1   S1    RTE               FR
S2   S2  Terna               IT